<div class="container">
  <h1><%= @user.username %>'s Dashboard</h1>
  <div id="dash-hds">My D.I.Y.'s :</div>
  <div class="dash-white-line"></div>



  <div class="box-mydiy">
    <% @alternatives_select.each do |alternative_select| %>
    <div class="mydiy-card d-flex">
      <img src="https://www.atelierdeschefs.com/media/recette-e23473-pommes-de-terre-facon-arrabbiata-et-gambas-au-basilic.jpg" class="maindash-img" alt="dash-pic">
      <div class="mydiy-opt">
        <p id="title-my"> <%= link_to alternative_select.title, alternative_path(alternative_select) %> <br> <u> <%= alternative_select.created_at.strftime('%B %e, %Y') %></u></p>
        <div class="rest-diy ">
          <div class="delete">
          <%= link_to alternative_path(alternative_select), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-trash-alt destroy_seed"> Delete </i>
          <% end %>
          </div>
          <div class="edit">
          <%= link_to edit_alternative_path(alternative_select) do %>
          <i class="fa fa-edit edit_seed"> Edit</i>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="dash-white-line"></div>



  <div class="gen-cont d-flex">
    <div class="bottom-container">
      <div id="dash-hds">My reviews</div>
      <% @reviews_select.each do |review_select| %>

      <!-- <div class="box-myrev"> -->
        <!-- div class="dashoptions"> -->
        <div class="myrev-card d-flex">
          <img src="https://images.ricardocuisine.com/services/recipes/7446.jpg" class="dash-img" alt="dash-pic">
          <div class="myrev-opt-lft">
            <p id="title-rvw"><%= link_to review_select.alternative.title, alternative_path(review_select) %></p>
            <p id="my-rev"><%= review_select.comment %></p>
          </div>
          <div class="rest-rev ml-auto">
            <%= link_to alternative_path(review_select), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fa fa-trash-alt destroy_seed"></i>
            <% end %>
          </div>
        </div>
      <!-- </div> -->
     <% end %>
    </div>
    <div class="vert-white-line"></div>
    <div class="fav-div">
      <div id="dash-hds">My favorites D.I.Y.s</div>
      <div class="box-myfav">
        <!-- div class="dashoptions"> -->
        <% @upvotes_select.each do |upvote_select| %>
        <div class="myfav-card d-flex">
          <img src="https://images.ricardocuisine.com/services/recipes/7446.jpg" class="dash-img" alt="dash-pic">
          <div class="myrev-opt">
            <p id="title-rvw"><%= link_to upvote_select.alternative.title, alternative_path(upvote_select) %></p>
            <p id="my-rev"><%= upvote_select.alternative.user.username %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
