<div class="container">
  <div class="box-stepcard">
    <% count = 0 %>
    <% @alternative.photos.each do |photo| %>
    <div class="stepcard">
      <% count += 1 %>
      <h3><%= count %> - <%= photo.name %></h3>
      <div class="stepcard-text">
        <%= cl_image_tag photo.photo, crop: :fill, class: "step-img" %>
        <div class="ntm">
          <p><%= photo.detail %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-sm-8 col-md-6">
    <div class="form-container">
      <div class="form">
        <%= simple_form_for [@alternative, @photo] do |f| %>
        <%= f.input :name %>
        <%= f.input :detail %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "create", class: 'fas fa-plus' %>
        <%= f.submit "Done", class: 'btn btn-primary' %>
        <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
