<div class="box-stepcard">
  <% @alternative.photos.each do |photo| %>
  <div class="stepcard">
    <h3><%= photo.step %> - <%= photo.name %></h3>
    <div class="stepcard-text">
      <%= cl_image_tag photo.photo, crop: :fill, class: "step-img" %>
      <div class="ntm">
        <p><%= photo.detail %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-sm-8 col-md-6">
    <div class="form-container">
      <div class="form">
        <%= simple_form_for [@alternative, @photo] do |f| %>
        <%= f.input :step %>
        <%= f.input :name %>
        <%= f.input :detail %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "create", class: 'btn btn-primary' %>
        <%= f.submit "Done", class: 'btn btn-primary' %>
      <% end %>
      </div>
    </div>
  </div>

</div>

