<div class="row justify-content-center">
  <div class="col-12 col-sm-8 col-md-6">
    <div class="form-container">
      <% if alternative.new_record? %>
        <h1>Create a new alternative</h1>
      <% else %>
        <h1> Update your alternative </h1>
      <% end %>
      <div class="form">
        <%= simple_form_for alternative do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :ingredients %>
        <%= f.input :difficulty %>
        <section class='rating-widget'>

   <!-- Rating Stars Box -->
 <!--  <div class='rating-stars text-center'>
    <ul id='stars'>
      <li class='star' title='Poor' data-value='1'>
        <span class="dot"></span>
      </li>
      <li class='star' title='Fair' data-value='2'>
        <span class="dot"></span>
      </li>
      <li class='star' title='Good' data-value='3'>
        <span class="dot"></span>
      </li>
      <li class='star' title='Excellent' data-value='4'>
        <span class="dot"></span>
      </li>
      <li class='star' title='WOW!!!' data-value='5'>
        <span class="dot"></span>
      </li>
    </ul>
  </div>
 -->        <%= f.input :prep_time %>
        <%= f.input :alimentation_list, label: "Alimentation",  collection: $list_of_tags, as: :check_boxes %>
        <%= f.button :submit, class: 'btn btn-primary2' %>
      <% end %>
      </div>
    </div>
  </div>
</div>

