<div class="restriction">
<!-- Essai d'implementation des checkbox -->
<%= form_tag alternatives_path, method: "GET", class: 'toto' do |f| %>
  <% $list_of_tags.each do |tag| %>

  <% check_box_tag "tag", tag %>
<label class="fancy-checkbox">
    <input type="checkbox" name="tag[]" class="checkbox_filter" value="<%= tag %>" <%= (params[:tag] || [] ).include?(tag) ? "checked" : "" %>/>
    <i class="far fa-circle unchecked"></i>
    <i class="fas fa-circle checked"></i>
</label>

  <%= label_tag tag %> <br>
  <% end %>
  <%= hidden_field_tag :query, params[:query]  %>
  <%= submit_tag "Search", class: "btn" %>
  <%= link_to "Reset", alternatives_path  %>
<% end %>
</div>
<!-- Essai d'implementation des checkbox -->
<% @alternatives.each do |alternative| %>
<div class="container">
  <div class="card-alternatives-container ">
    <div class="index-img">
      <%= cl_image_tag  alternative.pic%>
    </div>
    <div class="card-alternatives-left">
      <h2> <%= link_to alternative.title, alternative_path(alternative) %> </h2>

      <p> <%= alternative.description %> </p>
    </div>
    <div class="separator"></div>
    <div class="card-alternatives-right">
      <div class="property">  <h4> By <%= alternative.user.username %> </h4>D.I.Y.&nbsp;&nbsp;
      <i class="far fa-clock"></i>  <%= alternative.prep_time.strftime("%M min.") %>&nbsp;&nbsp;
        Difficulty
            <% count = alternative.difficulty.to_i %>
      <% count.times do %>
        <i class="fas fa-circle"></i>
      <% end %>
      <% count_2 = 5 - count %>
      <% count_2.times do %>
        <i class="far fa-circle"></i>
      <% end %></div>
      <div class="d-flex">
        <% alternative.alimentation_list.each do |alim| %>
        <div class="tag"><i class="fas fa-tags"><span class="tagged"> <%= alim %>&nbsp;</span></i></div>

<!-- Implement upvotes -->

<!-- - -->

        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="white-line"></div>
<% end %>



