<% @alternatives.each do |alternative| %>

<p> <%= link_to alternative.title, alternative_path(alternative) %> </p>
<p> <%= alternative.description %> </p>
<p> <%= alternative.ingredients %> </p>
<p> <%= alternative.difficulty %> </p>
<p> <%= alternative.prep_time %> </p>
<% alternative.photo.each do |pic| %>
<p><%= cl_image_tag pic.photo %></p>
<% end %>


<% end %>


