<% @alternatives.each do |alternative| %>

<h1> <%= link_to alternative.title, alternative_path(alternative) %> </h1>
<h2> <%= alternative.description %> </h2>
<h2> <%= alternative.ingredients %> </h2>
<h2> <%= alternative.difficulty %> </h2>
<h2> <%= alternative.prep_time %> </h2>

<% end %>


