<%= link_to 'Upvote', alternative_upvotes_path(@alternative.id), method: :post, class: 'btn btn-primary'%>
<%= link_to 'Downvote', alternative_downvote_path(@alternative.id), method: :post, class: 'btn btn-primary'%>
<!-- route :  /alternatives/:alternative_id/upvotes/:id(.:format -->
<h1><%= @upvote_count - @downvote %></h1>

<h3>Reviews</h3>
  <% if @alternative.reviews.empty? %>
    <p>Be the first to let a review</p>
  <% else %>
    <ul class="list-group">
      <% @alternative.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill">
          <%= review.comment %>
          <%= review.created_at.humanized %>
        </li>
      <% end %>
    </ul>
  <% end %>

<%= render "reviews/new", cocktail: @cocktail, review: @review %>
