<div class="container">
  <div class="about-container">
    <h1> <%= @alternative.title %>      <i class="fas fa-leaf"></i> <%= @upvote_count - @downvote %></h1>
    <div class="item-infos d-flex">
      <div class="group-item">
        <div class="left-infos">
          <img src="https://uvmbored.com/wp-content/uploads/2019/09/lip-balm.jpeg" alt="test-img">
          <p><i class="fas fa-tags"></i> <%= @alternative.alimentation_list %></p>
          <div class="upvotes d-flex">
            <%= link_to ' Good alternative ', alternative_upvotes_path(@alternative.id), method: :post, class: 'fas fa-leaf'%>
            <%= link_to ' Bad alternative ', alternative_downvote_path(@alternative.id), method: :post, class: 'fas fa-poo'%>
          </div>
        </div>
        <div class="diff-time d-flex">
        </div>
        <div class="ingredients">
          <h3>Ingredient</h3>
          <p><%= @alternative.ingredients %></p>
          <% count = @alternative.difficulty.to_i %>
          <% count.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% count_2 = 5 - count %>
            <% count_2.times do %>
          <i class="far fa-star"></i>
          <% end %>
        </div>
      </div>
      <div class="description-right">
        <p>Description</p>
        <p><%= @alternative.description %></p>
      </div>
    </div>
    <div class="white-line"></div>
  </div>
  <div class="box-stepcard">
    <% @alternative.photos.each do |photo| %>
    <div class="stepcard">
      <h3><%= photo.step %> - <%= photo.name %></h3>
      <div class="stepcard-text">
        <%= cl_image_tag photo.photo, crop: :fill, class: "step-img" %>
        <div class="ntm">
          <p><%= photo.detail %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="reviews-card">
  <div class="white-line"></div>
    <ul class="list-group">
      <p>Reviews</p>
      <% if @alternative.reviews.empty? %>
      <p>Be the first to let a review</p>
      <% else %>
      <% @alternative.reviews.each do |review| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge badge-primary badge-pill">
          <%= review.comment %>
          <%= review.created_at %>
        </li>
        <% end %>
      </ul>
    <% end %>  </div>
    <%= render "reviews/new", alternative: @alternative, review: @review %>
  </div>
  <div class="white-line"></div>
</div>
