<% if @alternative.diy == false %>
  <%= @alternative.title %>TEST OK</h1>
  <h1><%= @alternative.ingredients %></h1>
<% else %>
<div class="container">
  <div class="about-container">
    <div id="title-vote">
      <div class="title"><h1> <%= @alternative.title %></h1>
      </div>
    </div>
    <div class="item-infos d-flex">
      <div class="group-item">
        <div class="left-infos">
          <%= cl_image_tag @alternative.pic, crop: :fill, class: "step-img" %>
          <div class="tag"><i class="fas fa-tags"></i> <%= @alternative.alimentation_list %></div>
          <div class="upvotes">
            <div class="good"><a href="<%= alternative_upvote_path(@alternative.id) %>" class=""><span class="fas fa-plus"></span> Good alternative</a></div>
            <div class="bad"><a href="<%= alternative_downvote_path(@alternative.id) %>" class=""><span class="fas fa-minus"></span> Bad alternative</a></div>
            <div class="votes">
              <i class="fas fa-leaf"></i> <%= @upvote_count - @downvote %>
            </div>
          </div>
        </div>
        <div class="diff-time d-flex">
        </div>
        <div class="ingredients">
          <h3>Supplies</h3>
          <p><%= @alternative.ingredients %></p>
          <h3><u>Difficulty</u></h3>
          <% count = @alternative.difficulty.to_i %>
          <% count.times do %>
          <i class="fas fa-circle"></i>
          <% end %>
          <% count_2 = 5 - count %>
          <% count_2.times do %>
          <i class="far fa-circle"></i>
          <% end %>
        </div>
      </div>
      <div class="description-right">
        <div class="description">
          <h3>Description</h3>
        <%= @alternative.description %></div>
      </div>
    </div>
    <div class="white-line"></div>
  </div>
  <div class="box-stepcard">
    <% @alternative.photos.each do |photo| %>
    <div class="stepcard">
      <h3><%= photo.step %> - <%= photo.name %></h3>
      <div class="stepcard-text">
        <%= cl_image_tag photo.photo, crop: :fill, class: "step-img" %>
        <div class="ntm">
          <p><%= photo.detail %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="reviews-card">
    <div class="white-line"></div>
    <ul class="list-group">
      <p>Reviews</p>
      <% if @alternative.reviews.empty? %>
      <% else %>
      <% @alternative.reviews.each do |review| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge badge-primary badge-pill">
          <h3><u><%= review.user.username %></u></h3>
          <p><i><%= review.comment %></i></p>
          le :<%= review.created_at.strftime("%d/%m/%Y") %>
        </li>
        <% end %>
      </ul>
      <% end %>
    </div>
    <%= render "reviews/new", alternative: @alternative, review: @review %>
  </div>
  <div class="white-line"></div>
</div>
<% end %>
