<title>H-Alt-e | <%= @alternative.title %></title>
<% if @alternative.diy == false %>
<%= @alternative.title %>TEST OK</h1>
<h1><%= @alternative.ingredients %></h1>
<% else %>
<div class="container">
  <div class="about-container">
    <div id="title-vote">
      <div class="title"> <%= @alternative.title %>
        <div class="username"><u>by <%= @alternative.user.username %> </u></div>
      </div>
    </div>
    <div class="item-infos d-flex">
      <div class="group-item">
        <div class="left-infos">
          <%= cl_image_tag @alternative.pic, crop: :fill, class: "step-img" %>
          <div class="upvotes">
            <div class="good"><a href="<%= alternative_upvote_path(@alternative.id) %>" class=""><span class="fas fa-plus"></span> Good alternative&nbsp;</a></div>
            <div class="bad"><a href="<%= alternative_downvote_path(@alternative.id) %>" class=""><span class="fas fa-minus"></span> Bad alternative&nbsp;</a></div>
            <div class="votes">
              <i class="fas fa-leaf"></i> <%= @upvote_count - @downvote %>
            </div>
          </div>
          <div class="tag"><i class="fas fa-tags"></i> <%= @alternative.alimentation_list %></div>
        </div>
        <div class="diff-time d-flex">
        </div>
        <div class="ingredients">
          <div class="diff d-flex">
            <h4>Difficulty</h4>
            <% count = 0 %>
            <% case @alternative.difficulty %>
            <% when "Very easy" %>
            <% count = 1 %>
            <% when "Easy" %>
            <% count = 2 %>
            <% when "Moderate" %>
            <% count = 3 %>
            <% when "Challenging" %>
            <% count = 4 %>
            <% when "Hard" %>
            <% count = 5 %>
            <% end %>
            <% count.times do %>
            <i class="fas fa-circle"></i>&thinsp;
            <% end %>
            <% count_2 = 5 - count %>
            <% count_2.times do %>
            <i class="far fa-circle"></i>
            <% end %>
            <div class="time"> <i class="far fa-clock"></i>  <%= @alternative.prep_time.strftime("%M min.") %></div>
          </div>
          <div class="supplies">
            <h4>Supplies</h4>
            <% @alternative.ingredients.each do |ingredient| %>
            <% if ingredient.index("\r").nil? %>
            <p>- <%= ingredient %></p>
            <% else %>
            <p>- <%=  ingredient[2...ingredient.length] %></p>
            <% end %>
            <% end %>
          </div>

        </div>
      </div>

      <div class="description-right">
        <div class="description">
          <h3>Description</h3>
          <%= @alternative.description %>
        </div>

        <div class="supplies">
          <div class="alt-of">
            <h4>Alternative of</h4>
            <div class="tag-container">
              <% @alternative.alt_at.each do |alt| %>
              <% if alt.index("\r").nil? %>
             <div class="my_tag"> <p><%= alt %></p></div>
              <% else %>
              <p><%=  alt[2...alt.length] %></p>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="white-line"></div>
  </div>
  <div class="box-stepcard">
    <% step = 1 %>
    <% @alternative.photos.each do |photo| %>
    <div class="stepcard">
      <h3><%= step %> - <%= photo.name %></h3>
      <% step +=1 %>
      <div class="stepcard-text">
        <div class="step-img"> <%= cl_image_tag photo.photo, class: "step-img" %></div>
        <div class="ntm">
          <p><%= photo.detail[0...150] %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="reviews-card">
    <div class="white-line"></div>
    <ul class="list-group">
      <span class="reviews"> <h2>Reviews</h2></span>
      <% if @alternative.reviews.empty? %>
      <% else %>
      <% @alternative.reviews.each do |review| %>
      <li id="rev-card" class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge badge-primary badge-pill">
          <div class="inf-rev d-flex"><h3><%= review.user.username %>  <u> on <%= review.created_at.strftime('%B %e, %Y') %> </u></h3></div>
          <p><i><%= review.comment %></i></p>
        </li>
        <% end %>
      </ul>
      <% end %>
    </div>
    <%= render "reviews/new", alternative: @alternative, review: @review %>
  </div>
  <div class="white-line"></div>
<% end %>

